<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/reset.css" rel="stylesheet">
    <link rel="icon" href="images/NP_pavicon.png">
    <title>NextPin 로그인</title>
    <link href="css/html_apply/login.css" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/main">
            <img src="images/loginX.png" alt="닫기">
        </a>
    </header>
    <div class="login-container">
        <div class="logo">
            <a href="/main">
                <img src="images/Logo.png" alt="NextPin Logo">
            </a>
        </div>
        <form class="login-form">
            <input type="email" placeholder="아이디" required>
            <input type="password" placeholder="비밀번호" required>
            <button type="submit">로그인</button>
        </form>
        <div class="signup-link">
            혹시 회원이 아니신가요? <a href="/signUp">회원가입</a>
        </div>
    </div>
    <footer>
        © 2024 Bitcamp Ncamp study 01
    </footer>
</body>
</html>