<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextPin Main</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="images/NP_pavicon.png">
    <link rel="stylesheet" href="/css/html_apply/mainPageStyle.css"></link>
</head>
<body>
    <header>
        <div class="logo"><a href="#"><img src="../images/Logo.png" alt="NextPin Logo"></a></div>
        <div class="actions">
            <a href="login" class="login">Log In</a>
            <a href="signUp" class="signUp">Sign Up</a>
        </div>
    </header>
    <main>
        <div class="feature-container">
            <img src="../images/Blue Minimalist World Map Instagram Post.png" alt="World Map">
            <div class="text-overlay">
                <img src="/images/Create NextPin.png" alt="Create NextPin">
                <p>나만의 Next Pin을 만들어보세요.</p>
            </div>
        </div>
        <div class="features">
            <div class="feature">
                <a href="mainCourse"><img src="../images/home_course.png" alt="Course"></a>
      
            </div>
            <div class="feature">
                <a href="calendar"><img src="../images/home_calendar.png" alt="Calendar"></a>

            </div>
            <div class="feature">
                <a href="randomPin"><img src="../images/home_lottery.png" alt="Random Pin"></a>
 
            </div>
            <div class="feature">
                <a href="community"><img src="../images/MP_icon_chat_blue.png" alt="Community"></a>

            </div>
            <div class="feature">
                <a href="userPage"><img src="../images/home_user.png" alt="My Page"></a>

            </div>
        </div>
    </main>
    <footer>
        <div style="display:flex; justify-content: space-between; align-items:center;">
            <p style="text-align: left; font-size: 20px; color: #4098ff;">NextPin
            </p>
            <div class="social-icons">
                <a href="#"><img src="../images/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../images/linkedin.png" alt="LinkedIn"></a>
                <a href="#"><img src="../images/youtube.png" alt="YouTube"></a>
                <a href="#"><img src="../images/instagram.png" alt="Instagram"></a>
            </div>
        </div>
        <p>&copy; 2024 Bitcamp Ncamp study 01</p>
    </footer>
</body>
</html>