<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--카카오맵 불러오기-->
    <link href="css/reset.css" rel="stylesheet"/>
    <link href="css/kakaoMap.css" rel="stylesheet"/>
    <link href="css/html_apply/maincourse.css" rel="stylesheet"/>
    <script src="js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b65896833a405b71281c94d1dd53a4de&libraries=services"></script>

    <!-- jQuery UI CSS 파일 -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
    <!-- jQuery 기본 js 파일 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- jQuery UI 라이브러리 js 파일 -->
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

    <!--코스 지정 페이지 스타일 시트 적용-->
    <link rel="stylesheet" href="css/html_apply/myCourse.css">
    <!-- 파비콘 설정 -->
    <link rel="icon" type="image/png" href="images/NP_pavicon.png">
    <!-- 사이드바 스타일 시트 적용 -->
    <link rel="stylesheet" href="css/html_apply/side-bar_style.css">
    <!--코스 지정 페이지 JavaScript 연동-->
    <script src="js/myCourse.js"></script>
</head>
<body>
<div id="container">
    <!-- 사이드바 -->
    <div id="side-bar">
        <li id="title">
            <!-- 메인화면으로 이동 -->
            <a href="main">
                <img src="../images/NP_icon.png" alt="NP아이콘">
            </a>
        </li>
        <!-- 메뉴들 -->
        <div id="icons">
            <li class="icon">
                <!-- 코스로 이동 -->
                <a href="mainCourse">
                    <img src="../images/pin-hover.png" alt="코스아이콘" id="couse-icon">
                    <span>코스</span>
                </a>
            </li>
            <li class="icon">
                <!-- 일정으로 이동 -->
                <a href="calendar">
                    <img src="../images/icon_calendar.png" alt="일정아이콘" id="calendar-icon">
                    <span>일정</span>
                </a>
            </li>
            <li class="icon">
                <!-- 커뮤니티로 이동 -->
                <a href="community">
                    <img src="../images/icon_community.png" alt="커뮤니티아이콘" id="community-icon">
                    <span id="community-span">커뮤니티</span>
                </a>
            </li>
            <li class="icon">
                <!-- 랜덤핀으로 이동 -->
                <a href="randomPin">
                    <img src="../images/icon_random.png" alt="랜덤아이콘" id="random-icon">
                    <span>랜덤핀</span>
                </a>
            </li>
        </div>
        <div id="profile">
            <li>
                <!-- 로그인으로 이동 -->
                <a href="login">
                    <img src="../images/profile.png" alt="기본 프로필 이미지">
                </a>
            </li>
        </div>
    </div>

    <!--장소 홈/리뷰 div-->
    <div class="place">
        <div class="place-info">
            <img src="../images/place.png" alt="임시 데이터 장소">
            <h3>니뽕내뽕 강남역점 <span>퓨전요리</span></h3>
            <p><span class="red">★ 4.68</span> &nbsp;&nbsp;&nbsp;리뷰<span class="blue">223</span>건 &nbsp;&nbsp;&nbsp;블로그 리뷰<span class="blue">13</span>건</p>
            <div class="buttons">
                <button class="homeButton">홈</button>
                <button class="reviewButton">리뷰</button>
            </div>
        </div>
    </div>

</div>
    <div class="content">
        <!--캘린더 날짜 선택-->
        <div class="calendar">
            <h3><span class="blue"> • </span>날짜를 입력하세요.</h3>
            <input type="text" class="input__item" id="testDatepicker" placeholder="날짜를 선택하세요.">
        </div>

        <!--메모 div-->
        <div class="memo-container">
            <div class="memo-title">
                <h3><span class="blue"> • </span>메모를 입력하세요. (선택)</h3>
                <input type="checkbox" id="memo-active">
            </div>
            <textarea class="memo-input" id="memo-text" maxlength="15" placeholder="내용 입력 (15자 이내)" disabled></textarea>
        </div>

        <div class="color">
            <h3><span class="blue"> • </span>색을 선택하세요.</h3>
            <div class="colorPalette">
                <button class="color-button" style="background-color: #FFC061;"></button>
                <button class="color-button" style="background-color: #D4ADFB;"></button>
                <button class="color-button" style="background-color: #97E285;"></button>
                <button class="color-button" style="background-color: #F9A7A7;"></button>
                <button class="color-button" style="background-color: #1A70D6;"></button>
                <button class="color-button" style="background-color: #7BD0FF;"></button>
                <button class="color-button" style="background-color: #C8C8C8;"></button>
                <button class="color-button" style="background-color: #BADCE3;"></button>
                <button class="color-button" style="background-color: #AFA18E;"></button>
                <button class="color-button" style="background-color: #ECCCCF;"></button>
            </div>
        </div>
    </div>

        <!--지도-->
        <div class="map_wrap">
            <div id="map" style="width:200%;height:100vh;position:relative;overflow:hidden;"></div>
        </div>
</div>

</body>
<!--카카오맵 불러오기-->
<script>
    var placeData = [];
    // 마커를 담을 배열입니다
    var markers = [];

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    // 키워드로 장소를 검색합니다
    // searchPlaces();

    // 키워드 검색을 요청하는 함수입니다
    function searchPlaces() {

        var keyword = $('#inputPlace').val() === undefined ? "강남 고깃집" : $('#inputPlace').val();

        if (!keyword.replace(/^\s+|\s+$/g, '')) {
            // alert('키워드를 입력해주세요!');
            return false;
        }

        $("#keyword").val(keyword);
        // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
        // ps.keywordSearch( keyword, placesSearchCB);
        // ps.keywordSearch(keyword, placesSearchCB
        //     , {
        //         radius : 500                  // 반경범위 미터 단위(0m ~ 20000m)
        //         // ,location: new kakao.maps.LatLng(37.566826, 126.9786567)
        //     }
        // );
    }

    // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
    function placesSearchCB(data, status, pagination) {
        // console.log("placesSearchCB data : " + JSON.stringify(data));
        if (status === kakao.maps.services.Status.OK) {
            // console.log(data);
            if(undefined !== data) {
                if (data.length > 0) {
                    for (let idx in data) {
                        placeData.push(data[idx]);
                    }
                }
            }

            // console.log(placeData);
            // 정상적으로 검색이 완료됐으면
            // 검색 목록과 마커를 표출합니다
            displayPlaces(data);
            printResult(placeData);

            // 페이지 번호를 표출합니다
            displayPagination(pagination);

        } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

            alert('검색 결과가 존재하지 않습니다.');
            return;

        } else if (status === kakao.maps.services.Status.ERROR) {

            alert('검색 결과 중 오류가 발생했습니다.');
            return;

        }
    }
    let i = 0;
    function printResult(data) {

        console.log(++i + "번째 실행");
        console.log(data);
        console.log("print placeData : " + placeData);
    }

    // 검색 결과 목록과 마커를 표출하는 함수입니다
    function displayPlaces(places) {

        var listEl = document.getElementById('placesList'),
            menuEl = document.getElementById('menu_wrap'),
            fragment = document.createDocumentFragment(),
            bounds = new kakao.maps.LatLngBounds(),
            listStr = '';

        // 검색 결과 목록에 추가된 항목들을 제거합니다
        removeAllChildNods(listEl);

        // 지도에 표시되고 있는 마커를 제거합니다
        removeMarker();

        for ( var i=0; i<places.length; i++ ) {

            // 마커를 생성하고 지도에 표시합니다
            var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                marker = addMarker(placePosition, i),
                itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            bounds.extend(placePosition);

            // 마커와 검색결과 항목에 mouseover 했을때
            // 해당 장소에 인포윈도우에 장소명을 표시합니다
            // mouseout 했을 때는 인포윈도우를 닫습니다
            (function(marker, title) {
                kakao.maps.event.addListener(marker, 'mouseover', function() {
                    displayInfowindow(marker, title);
                });

                kakao.maps.event.addListener(marker, 'mouseout', function() {
                    infowindow.close();
                });

                itemEl.onmouseover =  function () {
                    displayInfowindow(marker, title);
                };

                itemEl.onmouseout =  function () {
                    infowindow.close();
                };
            })(marker, places[i].place_name);

            fragment.appendChild(itemEl);
        }

        // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
        listEl.appendChild(fragment);
        menuEl.scrollTop = 0;

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);
    }

    // 검색결과 항목을 Element로 반환하는 함수입니다
    function getListItem(index, places) {

        // for(key in places){
        //     let rowData = {};
        //     rowData.key = key;
        //     rowData.value = places[key]
        //     console.log("지도 데이터1 : " + JSON.stringify(placeData));
        //     console.log("지도 데이터 개수: " + placeData.length);
        //     placeData.push(rowData);
        // }
        // console.log("지도 데이터 : " + JSON.stringify(placeData));
        var el = document.createElement('li'),
            itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                '<div class="info">' +
                '   <h5>' + places.place_name + '</h5>';

        if (places.road_address_name) {
            itemStr += '    <span>' + places.road_address_name + '</span>' +
                '   <span class="jibun gray">' +  places.address_name  + '</span>';
        } else {
            itemStr += '    <span>' +  places.address_name  + '</span>';
        }

        itemStr += '  <span class="tel">' + places.phone  + '</span>' +
            '</div>';

        el.innerHTML = itemStr;
        el.className = 'item';

        return el;
    }

    // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
    function addMarker(position, idx, title) {
        var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
            imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
            imgOptions =  {
                spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
                position: position, // 마커의 위치
                image: markerImage
            });

        marker.setMap(map); // 지도 위에 마커를 표출합니다
        markers.push(marker);  // 배열에 생성된 마커를 추가합니다

        return marker;
    }

    // 지도 위에 표시되고 있는 마커를 모두 제거합니다
    function removeMarker() {
        for ( var i = 0; i < markers.length; i++ ) {
            markers[i].setMap(null);
        }
        markers = [];
    }

    // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
    function displayPagination(pagination) {
        var paginationEl = document.getElementById('pagination'),
            fragment = document.createDocumentFragment(),
            i;

        // 기존에 추가된 페이지번호를 삭제합니다
        while (paginationEl.hasChildNodes()) {
            paginationEl.removeChild (paginationEl.lastChild);
        }

        for (i=1; i<=pagination.last; i++) {
            var el = document.createElement('a');
            el.href = "#";
            el.innerHTML = i;

            if (i===pagination.current) {
                el.className = 'on';
            } else {
                el.onclick = (function(i) {
                    return function() {
                        pagination.gotoPage(i);
                    }
                })(i);
            }

            fragment.appendChild(el);
        }
        paginationEl.appendChild(fragment);
    }

    // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
    // 인포윈도우에 장소명을 표시합니다
    function displayInfowindow(marker, title) {
        var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

        infowindow.setContent(content);
        infowindow.open(map, marker);
    }

    // 검색결과 목록의 자식 Element를 제거하는 함수입니다
    function removeAllChildNods(el) {
        while (el.hasChildNodes()) {
            el.removeChild (el.lastChild);
        }
    }

    window.onload = function(){
        searchPlaces();
        // printResult();
        $("#dataChk").on("click", function(){
            $.ajax({
                method : "POST",
                headers : {
                    'content-type':'application/json'
                },
                url : "/kakaoData",
                async : true,
                dataType: "json",
                data : JSON.stringify(placeData),
                success : function(result){
                    console.log("ajax : result : " + result);
                },
                error : function(request, status, error){
                    console.log(error);
                }
            });
        });

        kakao.maps.event.addListener(map, 'center_changed', function() {

            // 지도의  레벨을 얻어옵니다
            var level = map.getLevel();

            // 지도의 중심좌표를 얻어옵니다
            var latlng = map.getCenter();

            var message = '<p>지도 레벨은 ' + level + ' 이고</p>';
            message += '<p>중심 좌표는 위도 ' + latlng.getLat() + ', 경도 ' + latlng.getLng() + '입니다</p>';

            var resultDiv = document.getElementById('result');
            resultDiv.innerHTML = message;

        });
    };

    $(function() {
        $("#testDatepicker").datepicker({
            showOn: button,
            changeMonth: true,
            changeYear: true,
            dayNamesMin: ['일','월','화','수','목','금','토'],
            monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            showButtonPanel: true,
            showMonthAfterYear:true,
            dateFormat:"yy-mm-dd",
            beforeShow: function(input, inst) {
                var sidebarWidth = $('#side-bar').outerWidth();
                inst.dpDiv.css({ marginLeft: sidebarWidth }); // 사이드바 너비만큼 왼쪽으로 이동
            }
        });
    });
</script>
</html>
