<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NextPin</title>
    <link href="css/reset.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b65896833a405b71281c94d1dd53a4de&libraries=services"></script>
    <!-- 파비콘 설정 -->
    <link rel="icon" type="images/png" href="../images/NP_pavicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!--css파일을 가장 마지막에 주기(cascading으로 인해 다른 파일의 스타일이 적용될 수 있음.)-->
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <!-- 사이드바 스타일 시트 적용 -->
    <link rel="stylesheet" href="css/kakaoMap.css">
    <link rel="stylesheet" href="css/html_apply/maincourse.css">
    <link rel="stylesheet" href="css/html_apply/sidebar_myPin.css">
    <link rel="stylesheet" href="css/html_apply/mypin.css">
</head>
<body>
    <!-- 사이드바 -->
    <nav id="side-bar">
        <div class="wrapper">
            <li id="title">
                <!-- 메인화면으로 이동 -->
                <a href="main" class="link">
                    <img src="../images/NP_icon.png" alt="NP아이콘">
                </a>
            </li>
            <!-- 메뉴들 -->
            <div id="icons">
                <div class="icon menu" style="margin-bottom: 110px">
                    <!-- 코스로 이동 -->
                    <a href="mainCourse" class="link" id="course-icon">
                        <img src="../images/pin-hover.png" alt="코스아이콘">
                        <span>코스</span>
                    </a>
                    <a href="courseHomeReview2" class="link" id="recommendPlace">
                        <li style="margin-left: 1.2rem; margin-bottom: 0.5rem">장소추천</li>
                    </a>
                    <a href="#" class="link" id="myPin">
                        <li style="margin-left: 0.01rem">My Pin</li>
                    </a>
                </div>
                <li class="icon menu">
                    <!-- 일정으로 이동 -->
                    <a href="calendar" class="link">
                        <img src="../images/icon_calendar.png" alt="일정아이콘" id="calendar-icon">
                        <span>일정</span>
                    </a>
                </li>
                <li class="icon menu">
                    <!-- 커뮤니티로 이동 -->
                    <a href="community" class="link">
                        <img src="../images/icon_community.png" alt="커뮤니티아이콘" id="community-icon">
                        <span id="community-span">커뮤니티</span>
                    </a>
                </li>
                <li class="icon menu">
                    <!-- 랜덤핀으로 이동 -->
                    <a href="randomPin" class="link">
                        <img src="../images/icon_random.png" alt="랜덤아이콘" id="random-icon">
                        <span>랜덤핀</span>
                    </a>
                </li>
            </div>
        </div>
        <div id="profile">
            <li class="menu">
                <!-- 로그인으로 이동 -->
                <a href="#" class="link">
                    <img src="../images/profile.png" alt="기본 프로필 이미지">
                </a>
            </li>
        </div>
    </nav>

    <!--사이드 네브바-->
    <div class="side-navbar">
        <!-- 검색창 -->
        <div class="nav-search box">
            <input class="search-bar" type="text" placeholder="코스 검색" id="searchInput">
        </div>


        <!--my pin-->
        <div class="nav-mypin box">
            <img class="content-title-icon" src="images/icon_location-pin.png" alt="pin 아이콘">
            <p class="content-title">My <span class="yellow">P</span>in</p>
            <p class="mypin-num">3</p>
            <!--mypin내용-->
            <div class="mypin-content content">
                <ul>
                    <li>
                        <div class="container">
                            <input type="button" class="profile-description" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-controls="collapseExample1" value="강릉 커플여행 추천코스">
                            <textarea class="profile-textarea" rows="2" style="display: none"></textarea>
                            <img src="images/edit-icon.png" alt="Edit Icon" class="edit-icon" onclick="editDescription(this)">
                        </div>
                        <div class='collapse' id='collapseExample1'>
                            <!--card,card-body: 부트스트랩에서 미리 정의된 스타일. 카드의 레이아웃, 배경색, 테두리 등이 미리 정의되어 있음.-->
                            <div class="card card-body">
                                <ul>1일차
                                    <li>
                                        <div>
                                            당신의 안목 펜션
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            송정 해수욕장
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            번패티번 강릉
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            엔드 투 앤드 카페
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            순두부젤라또 1호점
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            차현희 순두부 청국장
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                </ul>
                                <ul>2일차
                                    <li>
                                        <div>
                                            아르떼뮤지엄 강릉
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            카페덕덕
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            이모네생선찜
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            현대 장칼국수
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            스튜디오 킨조 소품샵
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <input type="button" class="profile-description" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-controls="collapseExample2" value="쇼핑 중독러를 위한 성수 놀거리">
                            <textarea class="profile-textarea" rows="2" style="display: none"></textarea>
                            <img src="images/edit-icon.png" alt="Edit Icon" class="edit-icon" onclick="editDescription(this)">
                        </div>
                        <div class="collapse" id="collapseExample2">
                            <!--card,card-body: 부트스트랩에서 미리 정의된 스타일. 카드의 레이아웃, 배경색, 테두리 등이 미리 정의되어 있음.-->
                            <div class="card card-body">
                                <ul>1일차
                                    <li>
                                        <div>
                                            계월 곰탕
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            쿠어 플래그십 스토어
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            비이커 성수점
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            밀리언 아카이브
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            EQL 성수점
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            섬세이 테라리움
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <input type="button" class="profile-description" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-controls="collapseExample3" value="뚜벅이들을 위한 행리단길 데이트코스">
                            <textarea class="profile-textarea" rows="2" style="display: none"></textarea>
                            <img src="images/edit-icon.png" alt="Edit Icon" class="edit-icon" onclick="editDescription(this)">
                        </div>
                        <div class="collapse" id="collapseExample3">
                            <div class="card card-body">
                                <ul>1일차
                                    <li>
                                        <div>
                                            저스트텐동 행리단길점
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            카페 스퀘어드
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            사계면
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            그리핑 카페
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            화성 행궁
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!--구분선-->
        <div class="division-line"></div>

        <!--관심있는 코스-->
        <div class="nav-like box">
            <img class="content-title-icon" src="images/icon_heart_after.png" alt="하트 아이콘">
            <p class="content-title">관심있는 코스</p>
            <p class="mypin-num">1</p>
            <!--관심있는 코스 내용-->
            <div class="like-content content">
                <ul>
                    <li>
                        <div class="container">
                            <input type="button" class="edit-name" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-controls="collapseExample4" value="부산 힐링 여행 코스">
                            <img src="images/save-before-icon.png" alt="Edit Icon" class="edit-icon" style="width: 20px; height: 20px" onclick='toggleSaveState(this)'>
                        </div>
                        <div class="collapse" id="collapseExample4">
                            <div class="card card-body">
                                <ul>1일차
                                    <li>
                                        <div>
                                            H Avenue 호텔 광안리점
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            나사리식당 광안점
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            룩앳더바리스타 광안점
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            밀락더마켓
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            수변최고돼지국밥 민락본점
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            치플레 부산
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                </ul>
                                <ul>2일차
                                    <li>
                                        <div>
                                            해운대 블루라인파크
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            디아트 카페
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            우봉 샤브 청사포점
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            부산샌드 청사포점
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            오션브리즈
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            도희네 조개구이
                                            <img class="pin-icon" src="images/icon_location-pin.png" alt="pin아이콘">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- 캘린더 팝업 -->
                        <div class="calendar-container" id="calendar-container">
                            <input type="date" id="calendar">
                            <button id="save-date-button">저장</button>
                        </div>

                        <!-- 모달 -->
                        <div class="modal-overlay" id="modal-overlay"></div>
                        <div class="modal" id="modal">
                            <p id="modal-message">캘린더에 저장되었습니다</p>
                            <button id="close-modal-button">닫기</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--사이드 네브바 열고 닫는 기능-->
    <div class="sidebar-arrow-container">
        <div class="sidebar-toggle">
            <img class="arrow-icon" src="../images/icon_toggleButton_arrow.png" alt="toggle icon">
        </div>
    </div>
    <!--지도-->
    <div class="map_wrap">
        <div id="map" style="width:300%; height:100vh; position:relative; overflow: hidden"></div>
    </div>
    <script src="js/mypin.js"></script>
</body>
</html>