<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextPin</title>
    <!-- 파비콘 설정 -->
    <link rel="icon" type="image/png" href="../images/NP_pavicon.png">
    <!-- 사이드바 스타일 시트 적용 -->
    <link rel="stylesheet" href="side-bar_style.css">
</head>
<body>
    <!-- 사이드바 -->
    <nav id="side-bar">
        <div class="wrapper">
            <li id="title">
                <!-- 메인화면으로 이동 -->
                <a href="#" class="link">
                    <img src="../images/NP_icon.png" alt="NP아이콘">
                </a>
            </li>
            <!-- 메뉴들 -->
            <div id="icons">
                <li class="icon menu">
                    <!-- 코스로 이동 -->
                    <a href="#" class="link">
                        <img src="../images/pin.png" alt="코스아이콘" id="couse-icon">
                        <span>코스</span>
                    </a>
                </li>
                <li class="icon menu">
                    <!-- 일정으로 이동 -->
                    <a href="calendar.html" class="link">
                        <img src="../images/calendar-hover.png" alt="일정아이콘" id="calendar-icon">
                        <span>일정</span>
                    </a>
                </li>
                <li class="icon menu">
                    <!-- 커뮤니티로 이동 -->
                    <a href="#" class="link">
                        <img src="../images/community.png" alt="커뮤니티아이콘" id="community-icon">
                        <span id="community-span">커뮤니티</span>
                    </a>
                </li>
                <li class="icon menu">
                    <!-- 랜덤핀으로 이동 -->
                    <a href="#" class="link">
                        <img src="../images/random.png" alt="랜덤아이콘" id="random-icon">
                        <span>랜덤핀</span>
                    </a>
                </li>
            </div>
        </div>
        <div id="profile">
            <li class="menu">
                <!-- 로그인으로 이동 -->
                <a href="#" class="link">
                    <img src="../images/profile.png" alt="기본 프로필 이미지">
                </a>
            </li>
        </div>
    </nav>
</body>

</html>