/* 문자깨짐 방지 */
/* 안넣으면 스타일 시트 적용 안됌 */
@charset "utf-8";

/* 글꼴 */
@font-face {
    font-family: 'pretendard-semibold';
    src: url('../../webfonts/woff/Pretendard-SemiBold.woff');
    font-weight: normal;
    font-style: normal;
}

/* 폰트설정 */
@font-face {
    font-family: 'pretendard-semibold';
    src: url('../../webfonts/woff/Pretendard-SemiBold.woff');
    font-weight: normal;
    font-style: normal;
}
/* 전체 스타일 */
body {
    font-family: 'pretendard-semibold';
    margin: 0;
    display: flex;
}

/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/*--------------------------------------------------------*/
/*카카오맵 불러오기*/
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:700px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 0;padding:5px;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
/*----------------------------------------------------------------------------*/
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    display: flex;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    width: 100px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.logo img {
    width: 50px;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu button {
    width: 80px;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.menu button:hover {
    background-color: #ddd;
}

.content {
    display: flex;
    flex-direction: column;
    width: 50%; /* 전체 너비로 설정 */
    max-width: 800px; /* 최대 너비 지정 */
    background-color: #ffffff; /* 전체 배경색 설정 */
    padding: 30px 10px 10px;
    box-sizing: border-box; /* padding과 border 포함하여 크기 지정 */
}

.content-inner {
    background-color: white; /* 원하는 배경색으로 설정 */
    padding-bottom: 10px;
}

.search-bar {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    width: 100%;
}

.search-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 0 10px; /* 가운데 정렬을 위한 마진 */
}

.search-input {
    width: 100%;
    padding: 10px 50px 10px 10px; /* 오른쪽에 공간을 확보하여 버튼을 포함 */
    border: 3px solid #4098FF;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

.search-button {
    position: absolute;
    right: 10px; /* 입력창 내부에 위치하도록 설정 */
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-button:hover {
    filter: brightness(0.9);
}

.underline {
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    margin-top: 10px; /* 각 그룹(장소 1, 장소 2) 밑에 간격 주기 */
    margin-bottom: 20px;
}

.searchResult{
    margin-left: 30px;
}

#searchResult {
    color: #4098FF; /* 검색어 메시지의 색상 설정 */
    font-size: 16px;
    font-weight: bold; /* 글꼴 두껍게 설정 */
    margin-top: 10px;
}

.highlight-text {
    color: #000000; /* 검정색 */
    font-weight: bold; /* 글꼴 두껍게 설정 */
}

/*배너들 스타일*/
.banners {
    display: flex;
    justify-content: space-between; /* 간격을 좀 더 벌리기 */
    margin: 20px; /* 여백 설정 */
    flex-wrap: nowrap; /* 요소들이 한 줄에 나열되도록 설정 */
}

.banners .banner {
    display: flex;
    flex: 1; /* 각 배너 버튼이 동일한 너비를 가지도록 설정 */
    background: none;
    border: none;
}

.banners .banner img {
    max-width: 100%; /* 이미지 너비를 버튼 너비에 맞춤 */
    height: auto; /* 비율 유지 */
    cursor: pointer;
}

<!--카카오맵 키워드로 장소검색하고 목록으로 표출하기-->
 .map_wrap, .map_wrap * {margin:0;padding:0; font-size:12px;width: calc(100% - 20px);}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:100%;}
#menu_wrap {position:relative;top:0;left:0;bottom:0;width:100%;margin:10px 0 30px 0;padding:5px;overflow-y:hidden;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
/* 사이드바 토글 버튼 */
.sidebar-arrow-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    text-align: center;
    background-color: transparent;
    transition: width 0.3s ease;
    z-index: 2;
}
.sidebar-arrow-container .sidebar-toggle {
    position: absolute;
    top: 50vh;
    left: 30%;
    width: 50px;
    height: 80px;
    border-left: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url('../../images/icon_toggleButton.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}
.sidebar-container.open {
    width: 200px;
}
/* 장소 리스트 */
#placesList {
    margin-top: 4%;
    height: 420px;
    overflow-y: auto;
}
/* 스크롤바 가로길이 */
#placesList::-webkit-scrollbar {
    width: 10px;
}
/* 스크롤바 바영역 색상 */
#placesList::-webkit-scrollbar-thumb {
    background-color: #40a0ff;
    border-radius: 5px;
}
/* 스크롤바 스크롤영역 색상 */
#placesList::-webkit-scrollbar-track {
    background-color: #E1E1E1;
    border-radius: 5px;
}